<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual</title>
    </style>
</head>
<body>
    <fieldset>
        <h1><marquee behavior="alternate">Manual Process Completed</marquee></h1>
        <br><br>
        <center>
            <h2>Click Here to Go Back and Upload The Videos Again</h2>
            <a href="./" >Adaptive Traffic Management</a>
        </center>
        
    </fieldset>
</body>
</html>
